body {
  margin: 0;
}

.availability {
  text-align: center;
  padding: 0px 0px 15px 0px;
}

.pirostabla {
  background-color: #ffe6e6;
}

.zoldtabla {
  background-color: #f7ffe6;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid #cccccc;
}

header .title {
  align-self: center;
  margin-left: 15px;
}

header .profile {
  align-self: center;
  text-align: center;
  margin-right: 15px;
}

header .profile img {
  border-radius: 50%;
  height: 40%;
}

section {
  padding: 100px 0px 50px 0px;
  margin: auto;
  width: 75%;
}

section .date {
  text-align: center;
}

section .table {
  text-align: center;
}

section .messages {

}

section .message {
  padding-left: 5px;
}

.message:last-of-type hr {
  display: none;
}

hr {
  width: 50px;
  border-color: #cccccc;
}

section table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  width: 100%;
}

section td {
  text-align: center;
  border: 1px solid #cccccc;
  height: 55px;
  width: 50%;
}

section table button {
  width: 110px;
}

footer {
  border-top: 1px solid #cccccc;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
}

footer .quickmessages {
  background-color: white;
  border: 1px solid #cccccc;
  position: fixed;
  bottom: 35px;
  left: 10px;
  width: 180px;
}

footer li {
  padding-top: 10px;
}

footer .input {
  display: flex;
}

footer .toggler {
  text-align: center;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

footer .input-left {
  padding: 10px 10px 10px 10px;
}

footer .input-center {
  flex-grow: 1;
  padding: 10px 0px 10px 0px;
}

footer .input-right {
  padding: 10px 10px 10px 10px;
}

footer input[type="text"] {
  width: 100%;
}

.user-page {
  align-self: center;
  margin: auto;
  width: 75%;
  height: 100%;
  display: flex;
}

.user-page div:first-child {
  align-self: center;
  flex-grow: 1;
}

.user-page button:first-child {
  margin-top: 15px;
  float: left;
}

.user-page button {
  margin-top: 15px;
  float: right;
}

.l {
  width: 100%;
  height: 100%;
  display: flex;
}

.l-container {
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  align-self: center;
  width: 50%;
  margin: auto;
}

.l-body {
  width: 100%;
  display: table;
}
.l-body-row {
  display: table-row;
}
.l-body-row div {
  width: 50%;
  text-align: center;
  display: table-cell;
  padding: 10px 10px 10px 10px;
}

.l-body-row input {
  width: 100%;
}

.l-footer {
  display: flex;
  justify-content: space-between;
}

.l-footer a {
  padding-right: 15px;
}

@media screen and (max-width: 480px) {

  .input-container button:first-of-type {
    float: none;
  }

  .input-container button:last-of-type {
    float: none;
  }

  .input-container button {
    margin-top: 15px;
    display: block;
    width: 100%;
  }

  section {
    width: 90%;
  }

  footer .input {
    flex-direction: column;
  }

  footer .input-left {
    padding: 10px 10px 5px 10px;
  }

  footer .input-center {
    padding: 5px 10px 5px 10px;
  }

  footer .input-right {
    padding: 5px 10px 10px 10px;
  }

  footer button {
    width: 100%;
  }

  footer .quickmessages {
    bottom: 120px;
  }

  footer .toggler {
    padding: 10px 0px 10px 0px;
  }

  .user-page {
    align-self: center;
    margin: auto;
    width: 90%;
  }
}
